.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: var(--padding-main);
    height: calc(100% - var(--size-header));
    padding: var(--padding-main);
    overflow: auto;
    h2 {
        margin-bottom: var(--padding-main);
    }
}

.header {
    display: flex;
}

.header {
    grid-column: 1;
    grid-row: 1;
}
  
.chartsBox {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.issuesBox {
    grid-column: 2;
    grid-row: 1 / span 2;
    font-size: 12px;
    max-width: calc(50vw - (var(--padding-main) + var(--padding-main) / 2));
    width: 100%;
    ul li {
        margin-top: 20px;
    }
}